<div class="screen">
    <div class="navbar">
        <ul>
            <li routerLink="train-bot" routerLinkActive="active" class="">
                <a>
                    <h2>Train you bot</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li routerLink="intents" routerLinkActive="active">
                <a>
                    <h2>Intents</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li routerLink="catch-all" routerLinkActive="active">
                <a>
                    <h2>Catch all</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
            <li routerLink="analytics" routerLinkActive="active">
                <a>
                    <h2>Analytics</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="dy-sec">
        <div class="sec">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>