.screen {
    display: flex;
    height: 89%;
    align-items: center;
}

.navbar {
    width: 30%;
    padding: 1vmax;
    height: 100%;
    display: block;
}

.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: 1vmax;
}

.navbar ul li a {
    display: block;
    padding: 1vmax;
    padding-left: 1.5vmax;
    border-left: 5px solid transparent;
    cursor: pointer;
}

.navbar ul li.active a {
    background: #fff;
    border-left: 5px solid var(--primary-color);
}

.navbar ul li {
    border-bottom: 1px solid #ccc;
    margin: 1vmax 0;
    padding-bottom: 1vmax;
}

.navbar ul li:nth-last-child(1) {
    border: 0;
}

.navbar ul li h2 {
    font-size: 1.1vmax;
    font-weight: 700;
    margin-bottom: 0;
    margin-bottom: 0.5vmax;
}

.navbar ul li p {
    font-size: 0.9vmax;
    color: #777;
    margin: 0;
    line-height: 1.1vmax;
}

.dy-sec {
    width: 69.7%;
    background-color: #fff;
    height: 99%;
    padding: 2vmax 3vmax;
    border-radius: 0.1vmax;
}

.sec {
    width: inherit;
    display: block;
}