<div class="add-new-utterance">
    <form>
        <div class="row">
            <div class="col-md-10">
                <button type="button" class="btn btn-without-outline-danger">Improve coverage</button>
            </div>
            <div class="col-md-2" style="text-align-last: end;">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
            </div>
        </div>
        <h3 class="mt-4"><i class="bi bi-search mx-2"></i>Are you Real Estate dealer dealing in commercial plots..</h3>

        <div class="row mt-3">
            <div class="col-md-9">
                <h3 class="mt-4">Real Estate</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <button class="showmore">Show more</button>

            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-outline-secondary">Secondary</button>
            </div>
            <div class="divider mt-4"></div>
            <div class="col-md-9">

                <h3 class="mt-4">Real Estate</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <button class="showmore">Show more</button>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-end">
                <button type="button" class="green"><i class="bi bi-plus"></i>Add intent</button>
            </div>
        </div>


    </form>

</div>