<div class="side-bar">
    <div class="top">
        <i class="bi bi-grid"></i>
        <i class="hr"></i>
        <i class="bi bi-chat-right-text"></i>
        <i class="bi bi-person-circle"></i>
        <i class="bi bi-columns-gap"></i>
        <i class="bi bi-filter-circle"></i>
        <i class="bi bi-megaphone"></i>
        <i class="bi bi-graph-up"></i>
        <i class="bi bi-upc-scan"></i>
        <i class="bi bi-bar-chart-steps"></i>
        <i class="bi bi-train-lightrail-front"></i>
    </div>
    <div class="bottom">
        <i class="bi bi-gear"></i>
        <i class="bi bi-person-square"></i>
    </div>
</div>