.side-bar {
    /* width: 5%; */
    background: var(--primary-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vmax 0.5vmax;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    z-index: 999;
    position: sticky;
}

.side-bar .top,
.side-bar .bottom {
    display: flex;
    flex-direction: column;
    gap: 1.2vmax;
    width: 3vmax;
    align-items: center;
}

.side-bar .top i,
.side-bar .bottom i {
    font-size: 1.2vmax;
}

i.hr {
    border-top: 1px solid rgba(255, 255, 255, 0.7);
    width: inherit;
}

i.bi-person-square {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5vmax !important;
}