.add-new-utterance {
    display: flex;
    flex-direction: column;
}

.add-new-utterance h3 {
    font-size: 1.1vmax;
    font-weight: 700;
    margin-bottom: 0;
    margin-bottom: 0.5vmax;
}

.add-new-utterance p {
    font-size: 0.9vmax;
    color: #777;
    margin: 0;
    line-height: 1.1vmax;
    font-weight: 400;
}

.box .top button {
    padding: 0.5vmax 1.5vmax 0.5vmax 1vmax;
    background: var(--primary-color);
    color: #fff;
    border: 0;
    width: fit-content;
    border-radius: 0.1vmax;
    margin: 1vmax;
    font-size: 1vmax;
}

.box {
    border: 0.1vmax solid rgba(0, 0, 0, 0.5);
    margin: 1vmax 0;
    height: 32vmax;
}

.box .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vmax solid #000;
}

.box .top .search-box {
    border: 0.1vmax solid #000;
    margin: 1vmax;
    padding-left: 0.5vmax;
    display: flex;
    align-items: center;
    border-radius: 0.2vmax;
    padding-right: 0.1vmax;
}

.box .top .search-box i {
    font-size: 1vmax;
}

.box .top .search-box input {
    border: none;
    width: 19vmax;
    margin-left: 0.5vmax;
    padding-bottom: 0.3vmax;
}

.box .top .search-box input::placeholder {
    font-size: 1vmax;
}

.box .top .search-box input:focus-visible,
.box .top .search-box input:focus {
    border: none;
    outline: none;
}

.box .title {
    background: rgba(0, 130, 107, 0.2);
    padding: 1vmax 1.5vmax;
    border-bottom: 0.1vmax solid #555;
}

.box .title h3 {
    font-size: 1.1vmax;
    font-weight: 700;
    margin-bottom: 0;
}

.box .cards {
    overflow-y: auto;
    height: 24vmax;
}

.accordion-item {
    border: 0.1vmax solid #000;
    border-radius: 0.5vmax;
    margin: 1vmax;
}

.accordion-item h2 {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 1vmax 0.7vmax;
    justify-content: space-between;
}

.accordion-item h2 button {
    font-size: 1.1vmax;
    font-weight: 700;
    margin-bottom: 0;
    border: none;
    background: none;
}

.accordion-body {
    padding-top: 0;
}

.accordion-body ul {
    margin: 0;
    list-style: none;
    padding-left: 1vmax;
    font-size: 1vmax;
}

.btn-without-outline {
    background: rgb(0, 0, 0, 0.1);
    color: rgb(0, 0, 0, 1);
    font-weight: 600;
    font-size: 1vmax;
    padding: 0.1vmax 0.5vmax;
}