<div class="add-new-utterance">
    <form>
        <div class="row">
            <div class="col-md-10">
                <h3>Intent Name</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="col-md-2" style="text-align-last: end;">
                <button type="button" class="btn btn-outline-secondary" (click)="close()">Close</button>
            </div>
        </div>
        <div class="search-box">
            <input type="text" name="" id="" placeholder="Serach intent or utternance">
            <i class="">0/160</i>
        </div>

        <h3 class="mt-4">Add utterance</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s</p>
        <div class="search-box">
            <input type="text" name="" id="" placeholder="Serach intent or utternance">
            <i class="">0/160</i>
        </div>
        <div class="search-box">
            <input type="text" name="" id="" placeholder="Serach intent or utternance">
            <i class="">0/160</i>
        </div>
        <button type="button" class="btn btn-without-outline">+ Add another variation</button>
        <h3 class="mt-4">Add reply</h3>
        <textarea name="" id="" cols="30" rows="3" placeholder="Bot says"></textarea>
        <button type="button" class="btn btn-without-outline">+ Add random message</button>

        <div class="col-md-12 text-center">
            <button type="button" class="create" (click)="close()">Create Intent</button>
        </div>
    </form>

</div>